#feed{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: none;
}

.photo{
    max-width:600px;
    background-color: white;
    border:1px solid #e6e6e6;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 60px;
}

.photo:last-child{
    margin-bottom: 0;
}

.photo__header{
    padding:15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.photo__avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    animation: 1.5s martinaRotates infinite linear;
}

@keyframes martinaRotates{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn)
    }
}

.photo__author{
    display: block;
    font-weight: 600;
    margin-bottom:3px;
}

.photo__image{
    max-width: 100%;
}

.photo__main{
    padding: 15px;
    padding-bottom: 0;
    box-sizing: border-box;
}

.photo__actions{
    margin-bottom: 15px;
}

.photo__actions i:last-child{
    margin-left: 12px;
}

.photo__likes{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.photo__comments{
    margin-bottom: 15px;
}

.photo__comment{
    margin-bottom: 7px;
}

.photo__comment-author{
    font-weight: 600;
}

.photo__date{
    display: block;
    margin-bottom: 10px;
   color: #999;
   text-transform: uppercase;
   font-size: 12px;
}

.photo__add-comment-container{
    border-top: 1px solid #e6e6e6;
    position: relative;
}

.photo__add-comment-container textarea{
    padding-top:15px;
    width: 95%;
    resize: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.photo__add-comment-container textarea:focus{
    outline: none;
}

.photo__add-comment-container i{
    position: absolute;
    top: 18px;
    right: 01px;
}

.fa-heart{
    animation:.5s pump infinite linear;
    color:red;
    transition: all .3s linear;
}

@keyframes pump{
    from{
        transform: none;
    }
    to{
        transform: scale(1.1,1.1);
    }
}