.login{
    display: flex;
    width:75%;
    margin:0 auto;
    margin-top:50px;
    align-items: center;
}

#phone-image,
#login{
    width: 50%;
}

#phone-image{
    margin-right: 20px;
}

.login__box{
    background-color: white;
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.login__box--transparent{
    border:none;
    background-color: transparent;
    margin-top:20px;
}

.login__box--account{
    padding:25px 0;
    text-align: center;
}

.login__link{
    color:#3897f0;
}

.login__appstores img{
    height: 40px;
}